<div class="grid-container">
  <h1 class="mat-h1">Przepisy</h1>
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile *ngFor="let card of recipesAsCards | async" [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="white-space: pre-line">{{card.description}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
