<div>
  <h1 class="mat-subheader">Dodaj przepis</h1>
  <form [formGroup]="measurementForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field style="width: 30%; margin-left: 8px" appearance="fill">
        <mat-label>Nazwa</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field style="width: 15%; margin-left: 5%" appearance="fill">
        <mat-label>Typ</mat-label>
        <mat-select formControlName="recipeType">
          <mat-option value="SNIADANIE">SNIADANIE</mat-option>
          <mat-option value="OBIAD">OBIAD</mat-option>
          <mat-option value="DESER">DESER</mat-option>
          <mat-option value="KOLACJA">KOLACJA</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 50%; margin-left: 8px" appearance="fill">
        <mat-label>Składniki</mat-label>
        <textarea matInput formControlName="ingredients"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 50%; margin-left: 8px" appearance="fill">
        <mat-label>Przygotowanie</mat-label>
        <textarea matInput formControlName="preparation"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 50%; margin-left: 8px" appearance="fill">
        <mat-label>Składniki odżywcze</mat-label>
        <textarea matInput formControlName="nutrients"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 30%; margin-left: 8px" appearance="fill">
        <mat-label>Porcje</mat-label>
        <input matInput type="number" formControlName="portions">
      </mat-form-field>
      <button mat-raised-button [disabled]="isDisabled()" color="primary" style="margin-left: 8px" type="submit">Dodaj Ćwiczenie</button>
    </div>
  </form>
</div>
<mat-divider style="margin-top: 8px"></mat-divider>
<div>
  <h1 class="mat-subheader">Ćwiczenia</h1>
  <mat-form-field style="left: 1%" appearance="standard">
    <mat-label>Szukaj</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  <table class="table" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nazwa </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="recipeType">
      <th mat-header-cell *matHeaderCellDef> Typ </th>
      <td mat-cell *matCellDef="let element"> {{element.recipeType}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-mini-fab style="right: -70%" (click)="deleteExercise(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nie znalazłem wyników dla: "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Wybierz stronę">
  </mat-paginator>
</div>
