<div class="grid-container">
  <div>
    <h1 class="mat-h1">Twoja tablica</h1>
  </div>
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
          <mat-card-subtitle >{{card.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="display: flex" *ngIf="card.title == 'Twoje rezultaty'; else elseBlock">
              <table class="table" mat-table [dataSource]="dataSource">
                <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
                  <th mat-header-cell *matHeaderCellDef class="table-header">
                    {{column.header}}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{column.cell(row)}}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <form [formGroup]="measurementForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                  <mat-label>Waga</mat-label>
                  <input matInput type="number" min="0" max="1000" formControlName="weight">
                  <span matSuffix>kg</span>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Dodaj pomiar</button>
              </form>
          </div>
          <ng-template #elseBlock>
            <div style="white-space: pre-line; text-align: left">
              {{card.description}}
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
